<div class="drink_container span6">
  <div class="drink">
    <div {{bindAttr class="milk drink.milk_type drink.milk_amount"}}></div>
    <div {{bindAttr class="essence drink.strength drink.drink_type"}}></div>
    <div {{bindAttr class="sugar drink.sugar_type drink.sugar_computed"}}></div>
  </div>
  <h2 class='name'>{{drink.name}}</h2>
  <p class='description'>{{drink.description}}</p>
</div>