!= form_for [@company, @drink], :html => {:class => "form-horizontal"} do |f|
  != field_set_tag @drink.persisted? ? "Edit drink" : "Add new drink" do

    .control-group{ form_error(:name) }
      != f.label :name, "Name", :class => "control-label"
      .controls
        != f.text_field :name, :placeholder => "Employee name"
        != render :partial => "common/form_error", :locals => {:field => :name}

    - [DrinkType, Strength, MilkAmount, MilkType, SugarAmount, SugarType].each do |modifier|
      - mod_name = modifier.to_s.underscore
      - input_name = :"#{mod_name}_id"
      .control-group{ form_error(input_name) }
        != f.label input_name, mod_name.humanize, :class => "control-label"
        .controls
          - modifier.all.each do |option|
            != f.label :"#{input_name}_v", :class => "radio inline" do
              != f.radio_button input_name, option.id
              = option.value.to_s.humanize
          != render :partial => "common/form_error", :locals => {:field => input_name}

  != submit_tag "Save", :class => "btn btn-large"
  != link_to "Cancel", company_path(@company, :token => @token), :class => "btn btn-large"

- if @drink.persisted?
  != form_for [@company, @drink], :method => :delete do |f|
    != f.submit "Delete", :class => "btn btn-large btn-danger"