= render :partial => 'common/page_header', :locals => {:company => @company}
!= form_for [@company, @drink], :html => {:class => "form-horizontal"} do |f|
  != field_set_tag @drink.persisted? ? "Edit drink" : "Add new drink" do

    .control-group{ form_error(:name) }
      != f.label :name, "Name", :class => "control-label"
      .controls
        != f.text_field :name, :placeholder => "Employee name"
        != render :partial => "common/form_error", :locals => {:field => :name}

    != render :partial => "common/radio_buttons", :locals => {:aspect => "drink_type", :values => Drink::DRINK_TYPES.keys, :f => f}

    - Drink::DRINK_ASPECTS.each do |aspect, values|
      - if values.is_a?(Array)
        != render :partial => "common/radio_buttons", :locals => {:aspect => aspect, :values => values, :f => f}
      - else
        - values.each do |sub_aspect, sub_values|
          != render :partial => "common/radio_buttons", :locals => {:aspect => "#{aspect}_#{sub_aspect}", :values => sub_values, :f => f}

  != submit_tag "Save", :class => "btn btn-large"
  != link_to "Cancel", company_path(@company, :token => @token), :class => "btn btn-large"

- if @drink.persisted?
  != form_for [@company, @drink], :method => :delete do |f|
    != f.submit "Delete", :class => "btn btn-large btn-danger"