= render :partial => 'common/page_header', :locals => {:company => @company}
!= render :partial => "toolbar"
.drinks
  - @drinks.find_each do |drink|
    != render :partial => "common/drink", :locals => {:drink => drink}
  - if @drinks.empty?
    .well
      - if can_edit?
        %h2
          You don't have any drinks.
          = link_to "Add a drink", new_company_drink_path(@company, :token => @token)
          and start brewing.
      - else
        %h2
          There are no drinks for this company
  - else
    != render :partial => "common/add_drink"