.drink
  .milk{:class => "#{drink.milk_type} #{drink.milk_amount}"}
  .essence{:class => "#{drink.strength} #{drink.drink_type}"}
  .sugar{:class => "#{drink.sugar_type} s#{drink.sugar_amount.to_s.gsub(".","")}"}