- content_for :title do
  = "#{company.name} | Coffee.Spec"
.page-header
  %h1
    %span.title
      = company.name
      - if can_edit?
        %i.icon-pencil.edit
    - if can_edit?
      != form_tag company_path(company), :method => :put, :class => "inline hidden" do
        = text_field_tag :name, company.name
        .btn-group.inline-block
          = submit_tag :save, :class => "btn btn"
          = button_tag("cancel", :type => 'reset', :class => "btn btn")

    %small coffee.spec